{% if section.settings.screens_to_display == 'message' or section.settings.screens_to_display == 'both' %}
  <div id="message-section">
    <div id="message__container">
      <h1 id="message__title">
        {% if section.settings.message_page_title != blank %}
          {{ section.settings.message_page_title }}
        {% endif %}
      </h1>
      <div id="message__body" style="font-size: 1.2rem;line-height: 1.5em;">
        {% if shop.password_message != blank and section.settings.force_message == false %}
          {{ shop.password_message }}
        {% else %}
          {{ section.settings.message_page_text }}
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}

{% if section.settings.screens_to_display == 'password' or section.settings.screens_to_display == 'both' %}
  <div id="password-section">
    <div id="password__container">
      {% if section.settings.message_page_title != blank %}
        <h1 id="password__title">{{ section.settings.password_page_title }}</h1>
      {% endif %}
      {% if section.settings.message_page_text != blank %}
        <div id="password__body" for='password'>{{ section.settings.password_page_text }}</div>
      {% endif %}
      {% form 'storefront_password' %}
        {{ form.errors | default_errors }}
          <div id="password-form__container">
            <label id="password-form__label" for='password'>Password: </label><br/>
            <div id="password-form__login-container">
              <input type='password' name='password' id='password-form__password'/>
              <input id="password-form__login-btn" class="btn" name="commit" type="submit" value="Enter" style="background:{{ section.settings.login_button_color }};color:{{ section.settings.login_button_text_color }};"/>
            </div>
          </div>
      {% endform %}
      {% if section.settings.enable_shop_owner_login == true %}
        <div id='password__login'>
          Are you the store owner? <a class="password__link" href="/admin">Log in here</a> or <a class="password__link" href="/admin/online_store/preferences?tutorial=unlock">change your password settings</a>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}

<style>
body,
p,
h1,
h2,
h3,
h4 {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', Sans-Serif!important;
}

body {
  margin: 0!important;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

#message-section {
  background: #292929;
  color: white;
}

#message-section,
#password-section {
  padding: 6rem 2rem; 
  min-height: 100vh;
  display: flex;
}

#message__title,
#password__title {
  font-weight: 500;
  font-style: normal;
  size: 50px;
  line-height: 35px;
}
#message__title {
  margin-bottom: 42px;
}

#message__body{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
}

#password__body {
  margin: 1rem 0 3rem;
}

#password-form__login-container {
  display: flex;
  margin: 0.5rem 0 1.5rem;
}

#password-form__password {
  border: solid 1px #CECECE;
  padding: 0.5em;
  border-radius: 10px;
  width: 100%;
  margin-right: 0.5rem;
}

#password-form__login-btn {
  background: #000;
  color: #fff;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#password-form__login-btn:hover {
opacity: 0.8;
}

#message__body a {
  color: {{ section.settings.message_links_text_color }};
}
#password__login
.password__link {
  color: {{ section.settings.login_links_text_color }};
}

#password__login:hover
.password__link:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 600px) {
  #message-section,
  #password-section {
    padding: 2rem;
  }

  #message__container {
    max-width: 70ch;
    margin: auto;
    text-align: center;
  }
  #password__container {
    width: 32rem;
    max-width: 100%;
    margin: auto;
  }
}

</style>

{% schema %}
{
"name": "Password page settings",
"settings": [
  {
    "type": "select",
    "id": "screens_to_display",
    "default": "message",
    "label": "Screens to display",
    "options": [
      {
        "value": "message",
        "label": "Message screen"
      },
      {
        "value": "password",
        "label": "Password screen"
      },
      {
        "value": "both",
        "label": "Both screens"
      }
    ]
  },
  {
    "type": "header",
    "content": "Message screen settings"
  },
  {
    "id": "message_page_title",
    "label": "Message title",
    "type": "text",
    "info": "Enter title",
    "default": "We’ll be back"
  },
  {
    "id": "message_page_text",
    "label": "Message text",
    "type": "richtext",
    "info": "Enter message",
    "default": "<p>We’re busy updating our store for you, but we’ll be back soon.</p>"
  },
  {
    "id": "force_message",
    "type": "checkbox",
    "label": "Force settings message",
    "default": false,
    "info": "If 'online store > preferences > Password protection' already has a message, that will be displayed. Check this box to display the message on this settings page instead."
  },
  {
    "id": "message_links_text_color",
    "type": "color",
    "label": "Message links text colour",
    "default": "#00D0FF"
  },
  {
    "type": "header",
    "content": "Password screen settings"
  },
  {
    "id": "password_page_title",
    "label": "Password title",
    "type": "text",
    "info": "Enter title",
    "default": "Need access now?"
  },
  {
    "id": "password_page_text",
    "label": "password text",
    "type": "richtext",
    "info": "Enter message",
    "default": "<p>Enter the password to go to the store:</p>"
  },
  {
    "id": "login_button_color",
    "type": "color",
    "label": "Login button colour",
    "default": "#000"
  },
  {
    "id": "login_button_text_color",
    "type": "color",
    "label": "Login button text colour",
    "default": "#fff"
  },
  {
    "id": "enable_shop_owner_login",
    "type": "checkbox",
    "label": "Enable shop owner login",
    "default": true,
    "info": "Enable login link for the shop owner"
  },
  {
    "id": "login_links_text_color",
    "type": "color",
    "label": "Login links text colour",
    "default": "#00B3DB"
  }
]
}
{% endschema %}

{% javascript %}
{% endjavascript %}
